<%= content_for :html_head do %>
  <%= javascript_tag do %>
    jQuery(function($) {
      $('#per_page').selectpicker({width: '127px'});
      $('#group_id').selectpicker({width: '126px'});
    })
  <% end %>
<% end %>

<%= yield :toolbar_links %>

<% if @users %>
<div class="navbar">
  <div class="navbar-inner">
    <%= form_tag(users_path, :method => :get, :class => 'form-inline navbar-form' ) do %>
      <%= text_field_tag "key_word", params[:key_word], :placeholder => 'search for ...' %>      

      <%= select_per_page %>
      <%= group_filter %>
      
      <label class="checkbox">
        <%= check_box_tag "show_expired", "yes", params[:show_expired] %>
        Show inactive?
      </label>

      <%= submit_tag 'Search', :id=>"user_search_submit", :class => 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>
<% end %>