<% @page_title = @toolbar_title = "Set New Password" %>
<%= able_to? :administrate do %>
  <%= content_for :toolbar_links do %>
    <div class="btn-toolbar">
      <%= icon_link_to("List All", users_path, 'list', :id => "list_all_button", :class => "btn") %>
      <%= icon_link_to("Edit User", edit_user_path(@user), 'edit', :id => "edit_user_button", :class => "btn") %>
    </div>
  <% end %>

  <%= content_for :functions, render(:partial => "toolbar") %>
<% end %>

<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
<% end %>

<%= form_for([:update_password, @user]) do |f| %>
  <%= f.cms_error_messages %>
  <%= render :partial => 'password', :locals => {:f => f} %>
  <div class="buttons">
    <%= lt_button_wrapper(f.submit("Save", :class => "submit")) %>
  </div>
<% end %>
