<% page_title "Administration / User Browser" %>
<% @toolbar_title = "List Users" %>

<%= content_for :toolbar_links do %>
  <div class="btn-toolbar">
    <%= white_icon_link_to("add user", new_user_path, 'plus-sign',
      :id => "add_user_button", :class => "btn btn-success") %>
  </div>
<% end %>

<%= content_for :functions do %>
  <%= render(:partial => "toolbar") %>
<% end %>

<table class="data table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Groups</th>
      <th>Expiration</th>
      <th>Activation</th>
    </tr>
  </thead>
    <% @users.each do |user|%>
    <tr>
        <td><%= link_to "#{user.full_name_or_login}", edit_user_path(user) %></td>
	      <td><%= link_to user.email, "mailto:#{user.email}" %></td>
        <td>
          <% user.groups.all(:order => "#{Cms::Group.table_name}.name").each do |g| %>
            <%= g.name %><br/>
          <% end %>	          
        </td>
	      <td><%= user.expires_at ? format_date(user.expires_at) : "Never" %></td>
        <td>
      	  <% unless user.expired? %>
      	    <span class="user_state">Active</span>
            <%= link_to("<span>Disable</span>".html_safe, [:disable, user], :class => "http_put sm_button") if @users.size > 1 %>
    	    <% else %>
      	     <span class="user_state">Inactive</span>
             <%= link_to("<span>Enable</span>".html_safe, [:enable, user], :class => "http_put sm_button") %>
      	  <% end %>
        </td>        
    </tr>
    <% end %>
</table>

<% if @users.size == 0 && params[:key_word]%>
  <div class="alert alert-info">
    No results found for '<%= params[:key_word] %>'
  </div>
<% elsif @users.total_pages > 1 %>
  <%= render_pagination @users, Cms::User %>
<% end %>

