<% page_title "Edit Properties / '#{@section.name}' Section" %>
<%= content_for :functions do %>
  <h1><%= @page_title %></h1>
  <div class="btn-toolbar">
    <%= icon_link_to("List All", cms.sitemap_path, 'list', :class => "btn") %>
  </div>
<% end %>
<%= form_for(@section) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
