<% @toolbar_tab ||= :dashboard %>
  <%= render :partial => 'layouts/cms/head' %>
  <body>
    <%= render_cms_toolbar(@toolbar_tab) %>
    <div class="container">
      <%= yield :functions %>
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/cms/footer' %>    
  </body>
</html>
