<%= render :partial => 'layouts/cms/head' %>
  <body>

    <%= render_cms_toolbar(:content_library) %>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span3">

        <div class="sidebar-nav accordion" id="accordion2">

            <% Cms::ContentTypeGroup.menu_list.each do |group| %>
              
              <% if group.content_types.blank? %>
                <%= link_to group.name, "#" %>
              <% else %>
                <div class="accordion-heading sb-item">
                  <%= icon_link_to group.name, "#collapse_#{group.id}", "chevron-right", :class => "accordion-toggle", 
                    :data => {'toggle' => "collapse", 'parent' => "#accordion2"} %>
                </div>

                <div id="collapse_<%= group.id %>" class="accordion-body collapse <%= 'in' if group == content_type.content_type_group %>">
                  <ul class="accordion-inner nav nav-list">
                    <% group.types.each do |type| %>
                      <%= select_content_type_tag(type) do %>
                        <%= link_to type.display_name, cms_index_path_for(type) %>
                      <% end %>
                    <% end -%>
                  </ul>
                </div>
              <% end -%>
          <% end %>
          <%= yield :sidebar %>
        </div>
      </div>

      <div class="span9">

        <!-- Search navigation -->
        <div class="control-group">
          <%= yield :functions %>

          <%= form_tag cms_index_path_for(content_type), :method => :get, :class => 'pull-right', :id => 'search_form' do -%>
            <div class="input-append">
              <%= text_field_tag "search[term]", (params[:search] ? params[:search][:term] : nil) %>
              <%= icon_link_to 'search', '#', 'search', :class => 'btn', :id => 'submit_search' %>
            </div>

            <% if content_type.name == "Cms::HtmlBlock" -%>
              <label class="checkbox">
                <%= check_box_tag "search[include_body]", true, (params[:search] ? params[:search][:include_body] : false) %> include body?
              </label>            
            <% elsif %w[Cms::FileBlock Cms::ImageBlock].include?(content_type.name) %>
              <%= select_tag 'section_id', searchable_sections(params[:section_id]), :style => "width: 125px"  %>
            <% end -%>
          <% end -%>
        </div><!-- END navbar -->

        <hr />

        <div class="container">
          <h1><%= @toolbar_title %></h1>

          <%= yield %>
        </div>

      </div><!-- END span9 -->
    </div>
  </div>

  <%= render :partial => 'layouts/cms/footer' %>
  </body>
</html>
