<% page_title "Rails Routes" %>
<%= content_for :functions do %>
  <h1><%= page_title %></h1>
<% end %>

<div style="margin: 10px 0">
  <%= form_tag routes_path, :method => :get do %>
    <label>
      Path to Test: <%= text_field_tag :path, @path, :size => 50 %>
    </label>
    <% unless @route.blank? %>
      <div style="margin: 10px 0">
        <%= @route.inspect %>
      </div>
    <% end %>
  <% end %>
</div>

<table class="data table table-condensed">
  <tr>
    <th>Name</th>
    <th><div style="width: 50px;">Verb</th>
    <th>Pattern</th>
    <th>Result</th>
  </tr>
  <% for route in @routes %><tr>
    <td><%= route[:name] %></td>
    <td><%= route[:verb] %></td>
    <td><%= route[:segs] %></td>
    <td><%= route[:reqs] %></td>
  </tr><% end %>
</table>