<%= content_for :html_head do %>

    <%= javascript_tag do %>
      jQuery(function($){
        $('#block_content .header').html("Content tagged with '<%= escape_javascript(@content_block.name) %>'")
      })
    <% end %>
<% end %>
<table class="data table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% for tg in @taggings %>
      <tr>
        <td><%= link_to tg.taggable.name, tg.taggable %></td>
        <td><%= tg.taggable.display_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @taggings.total_pages > 1 %>
  <%= render_pagination @taggings, Cms::Tag, {:id => @content_block} %>
<% end %>
