<%
  hidden = defined?(hidden) ? hidden : false
  access_icon = defined?(access_icon) ? access_icon : nil
  published_status_icon = defined?(published_status_icon) ? published_status_icon : nil
  published_status_label = defined?(published_status_label) ? published_status_label : nil

  editable_class = ""
  case node_type
  when "section"
    editable_class = "non-editable" unless @modifiable_sections.include?(node)
  else
    editable_class = "non-editable" unless defined?(parent) && @modifiable_sections.include?(parent)
  end

  node_type_class = node_type == "section" && node.root? ? 'root' : ''
%>

<table class="section_node <%= node_type %> <%= "movable" if current_user.able_to?(:publish_content) %>" width="100%" cellspacing="0" cellpadding="0">
  <tr class="<%= 'doubled' if access_icon && hidden %>">
    <td id="<%= node_type %>_<%= node.id %>" class="<%= node_type_class %> <%= node_type %> node <%= editable_class %> clearfix">
      <%= icon.html_safe %>
      <%= node.name %>

      <div class="action-link pull-right clearfix">
        <div><%= hidden ? orig_status_icon(:hidden) : raw("&nbsp;") %></div>
        <div><%= access_icon ? access_icon : raw("&nbsp;") %></div>
        <div><%= published_status_icon ? published_status_icon : raw("&nbsp;") %></div>
      </div>      
    </td>
  </tr>
</table>