<% page_title "CMS Login" %>

<%= form_tag cms.login_path, :id => 'login_form', :class => 'form-signin' do %>   
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= text_field_tag 'login', @login, :placeholder => "Username", :class => 'input-block-level' %>
  <%= password_field_tag 'password', @password, :placeholder => "Password", :class => 'input-block-level' %>

  <label class="checkbox">
    <%= check_box_tag 'remember_me', '1', @remember_me %> Remember me
  </label>
  <%= submit_tag("Sign in", :class => "btn btn-large btn-primary") %>
<% end %>
