<div class="fields text_fields">
  <%= f.label :tag_list, (cms_options[:label] || "Tags") %>
  <%= f.tag_list :style => 'display:none' %>
  <br clear="all" />
  <div class="tag-label-list clearfix">
    <% Cms::Tag.all.each do |tag| %>
      <% tag_name = tag.name.gsub('_',' ').capitalize %>
      <span class="label" rel="<%= tag.name %>" title="<%= tag_name %>"><%= tag_name %></span>
    <% end %>
  </div>

  <% if cms_options[:instructions] %>
    <div class="instructions"><%= cms_options[:instructions] %></div>
    <br clear="all"/>  
  <% end %>
</div>