<%= content_for :html_head do %>
  <script type="text/javascript">
    
    var tags = [];
    var tag_el = 'input.tag-list';

    function update_tags( ) {
      console.log(tags);
      $( tag_el ).val( tags.join(' ') );
    }

    function tag_exists( tag ) {
      return (tag_index( tag ) != -1)
    }

    function tag_index( tag ) {
      for(var i=0; i<tags.length; i++) {
        if (tags[i] == tag)
          return i;
      }
      return -1;
    }

    function remove_tag( tag ) {
      var tag_i = tag_index( tag );
      if (tag_i != -1) 
        tags.splice(tag_i, 1);
    }

    $(document).ready(function() {
      tags = $( tag_el ).val().split(' ');

      $('.tag-label-list .label').each(function() {
        if (tag_exists( $(this).attr('rel') ))
          $(this).addClass('label-info');
      });      

      $('.tag-label-list .label').click(function() {
        var tag_ob = $(this);

        // add tag
        if (tag_ob.hasClass('label-info')) {
          tag_ob.removeClass('label-info');
          remove_tag( tag_ob.attr('rel') );

        // remove tag
        } else {
          tag_ob.addClass('label-info');
          tags.push( tag_ob.attr('rel') );
        }

        update_tags();
      });
    });
  </script> 
<% end %>

<div class="fields text_fields">
  <%= f.label :tag_list, (cms_options[:label] || "Tags") %>
  <%= f.tag_list :style => 'display:none' %>
  <br clear="all" />
  <div class="tag-label-list clearfix">
    <% Cms::Tag.all.each do |tag| %>
      <% tag_name = tag.name.gsub('_',' ').capitalize %>
      <span class="label" rel="<%= tag.name %>" title="<%= tag_name %>"><%= tag_name %></span>
    <% end %>
  </div>

  <% if cms_options[:instructions] %>
    <div class="instructions"><%= cms_options[:instructions] %></div>
    <br clear="all"/>  
  <% end %>
</div>