<div class="dashboard_unit" id="page_drafts">
  <h2>Page Drafts</h2>

  <% if @unpublished_pages.any? %>
    <%= form_tag cms.publish_pages_path, :method => :put do %>

      <table class="data table table-bordered">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>User</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @unpublished_pages.each do |page| %>
            <tr>
              <td><%= check_box_tag "page_ids[]", page.id, false, :id => "publish_page_#{page.id}" %></td>
              <td><%= link_to page.name_with_section_path, page.path %></td>
              <td><%= page.updated_by ? page.updated_by.login : nil %></td>
              <td><%= page.updated_at.strftime("%b %d") %></td>
            </tr>
          <% end %>
            <tr>
              <td colspan="4"><%= submit_tag("Publish Selected", :class => "btn btn-primary") %></td>
            </tr>
        </tbody>
      </table>
    <% end %>

  <% else %>
    <div class="alert alert-success">
      All pages are published
    </div>
  <% end %>
</div>
