
<h2>Tasks</h2>

<% if @incomplete_tasks.any? %>
  <%= form_tag cms.complete_tasks_path, :method => :put do %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Name</th>
          <th>Assigned By</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>              
        <% @incomplete_tasks.each do |task| %>
          <tr>
            <td><%= check_box_tag "task_ids[]", task.id, false, :id => "complete_task_#{task.id}" %></td>
            <td><%= link_to task.page.name_with_section_path, task.page.path %></td>
            <td><%= task.assigned_by.login %></td>
            <td><%= task.due_date ? task.due_date.strftime("%b %d") : nil %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"><%= submit_tag("Complete Selected", :class => "submit") %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

<% else %>

  <div class="alert alert-success">
    You currently have no assigned tasks.
  </div>

<% end %>

