<%
	# Using cms. prefix on the links here so this view can be used by models from engines.
%>
<div class="sidebar-nav accordion" id="accordion2">
  <div class="accordion-heading sb-item">
    <%= icon_link_to 'Users', "#collapse_users", "chevron-right", :class => "accordion-toggle", 
        :data => {'toggle' => "collapse", 'parent' => "#accordion2"} %>
  </div>
  <div id="collapse_users" class="accordion-body collapse<%= ' in' if %w'users groups'.include?(@menu_section) %>">
    <ul class="accordion-inner nav nav-list">
      <%= content_tag :li, link_to( "Users", cms.users_path ), :class => ('active' if @menu_section == 'users') %>
      <%= content_tag :li, link_to( "Groups", cms.groups_path ), :class => ('active' if @menu_section == 'groups') %>
    </ul>
  </div>

  <div class="accordion-heading sb-item">
    <%= icon_link_to 'Templates', "#collapse_templates", "chevron-right", :class => "accordion-toggle", 
        :data => {'toggle' => "collapse", 'parent' => "#accordion2"} %>    
  </div>
  <div id="collapse_templates" class="accordion-body collapse<%= ' in' if %w'cms/page_partials cms/page_templates page_routes'.include?(@menu_section) %>">
    <ul class="accordion-inner nav nav-list">
      <%= content_tag :li, link_to( "Page Partials", cms.page_partials_path ), :class => ('active' if @menu_section == 'cms/page_partials') %>
      <%= content_tag :li, link_to( "Page Templates", cms.page_templates_path ), :class => ('active' if @menu_section == 'cms/page_templates') %>
      <%= content_tag :li, link_to( "Page Routes", cms.page_routes_path ), :class => ('active' if @menu_section == 'page_routes') %>
    </ul>
  </div>

  <div class="accordion-heading sb-item">
    <%= icon_link_to 'Tool', "#collapse_tools", "chevron-right", :class => "accordion-toggle", 
        :data => {'toggle' => "collapse", 'parent' => "#accordion2"} %>    
  </div>
  <div id="collapse_tools" class="accordion-body collapse<%= ' in' if %w'caching redirects email_messages'.include?(@menu_section) %>">
    <ul class="accordion-inner nav nav-list">
      <%= content_tag :li, link_to( "Page Chaching", cms.cache_path ), :class => ('active' if @menu_section == 'caching') %>
      <%= content_tag :li, link_to( "Redirects", cms.redirects_path ), :class => ('active' if @menu_section == 'redirects') %>
      <%= content_tag :li, link_to( "Email Messages", cms.email_messages_path ), :class => ('active' if @menu_section == 'email_messages') %>
    	<% Rails.application.config.cms.tools_menu.each do |menu_item| %>
        <%= content_tag :li, link_to( menu_item[:name], self.send(menu_item[:engine]).send(menu_item[:route_name]) ), :class => ('active' if @menu_section == menu_item[:menu_section]) %>
    	<% end %>
    </ul>
  </div>
</div>
