<%= able_to? :edit_content, :publish_content, :administrate do -%>
<div style="margin: -1px -1px 20px;" class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div style="width: auto; padding: 0 20px;" class="container">
      <%= link_to image_tag("cms/browsercms_logo.png"), "/", :target => "_top", :class => 'brand' %>
      <ul class="nav">
        <li class="<%= 'active' if tab == :dashboard %>"><%= link_to 'dashboard', cms.dashboard_path, :target => "_top" %></li>
        <%= able_to?(:edit_content, :publish_content) do %><li class="<%= 'active' if tab == :sitemap %>"><%= link_to 'sitemap', cms.sitemap_path, :target => "_top" %></li><% end %>
        <%= able_to?(:edit_content, :publish_content) do %><li class="<%= 'active' if tab == :content_library %>"><%= link_to 'content library', cms.content_library_path, :target => "_top" %></li><% end %>
        <%= able_to?(:administrate) do %><li class="<%= 'active' if tab == :administration %>"><%= link_to 'administration', cms.administration_path, :target => "_top" %></li><% end %>
      </ul>

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="user_info"><a href="<%= current_user.able_to?(:administrate) ? cms.edit_user_path(current_user) : cms.user_path(current_user) %>" target="_top"><i class="icon-user icon"></i> <%= current_user.full_name %></a></li>    
            <li><%= icon_link_to "Logout", cms.logout_path, 'off', :class => "http_delete", :target => "_top" %></li>
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</div>

<div class="container">
  <% flash_class, flash_message = flash.to_a.first %> 
  <% if flash_message %>    
    <div id="message" class="alert alert-block alert-<%= flash_class == :notice ? 'success' : 'error' %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= flash_message %></p>
    </div>
  <% end %>
</div>

<% end %>