<% if(logged_in? && @page && !@hide_page_toolbar) %>
<% status = @page.live? ? 'published' : 'draft' %>

<div id="page_toolbar" class="well well-small">
  <div id="status_div" class="<%= status %> page_attribute_div">
    <div class="page_attribute_label">Status:</div>
    <div id="<%= status %>_page_status_container" class="page_attribute_value_container">
      <div id="page_status" class="page_attribute_value"><%= status_icon(status) %></div>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Section:</div>
    <div class="page_attribute_value_container">
      <div id="section_link" class="page_attribute_value"><%= link_to @page.section.name, cms.sections_path(:page_id => @page), :target => "_top" %></div>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Page:</div>
    <div class="page_attribute_value_container">
      <div class="page_attribute_value"><%= @page.name %></div>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Template:</div>
    <div class="page_attribute_value_container">
      <div class="page_attribute_value"><%= @page.template_name %></div>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Version:</div>
    <div class="page_attribute_value_container">
      <div class="page_attribute_value"><%= @page.version %><%= ' (LIVE)' if @page.live_version && @page.version == @page.live_version.version %></div>
    </div>
  </div>

  <div class="pull-right">
    <%= render :partial => "cms/toolbar/mobile_toggle" %>
    <div id="visual_editor_toggle">
      <% if @page.version == @page.draft.version %>
          <div class="visual_editor_label">Visual Editor:</div>
          <div class="visual_editor_toggle_container">
            <% if @mode == "edit" %>
              <%= white_icon_link_to 'Turn off', url_with_mode(request.referrer, "view"), 'eye-close', :target => "_top", :class => 'btn btn-warning btn-small' %>
            <% else %>
              <%= white_icon_link_to 'Turn on', url_with_mode(request.referrer, "edit"), 'eye-open', :target => "_top", :class => 'btn btn-primary btn-small',
                :confirm => ("You don\'t have permission to edit this page" unless current_user.able_to_edit?(@page)) %>
            <% end %>
          </div>
      <% else %>
        </div>
        <%= link_to("View Current Version", @page.path, :class => "button current_version", :target => "_top") %>
      <% end %>
    </div>
  </div>

</div>  

<div class="btn-toolbar" style="margin: 0 10px;">
  <div class="btn-group">
    <%= white_icon_link_to "Publish",
      @page.live? ? '#' : cms.publish_page_path(@page), 'ok',
      :id => "publish_button",
      :class => "http_put btn#{(!current_user.able_to?(:publish_content) || !current_user.able_to_edit?(@page) || @page.version != @page.draft.version || @page.live?) ? ' disabled' : ' btn-success'}",
      :target => "_top" %>
      
    <%= link_to "Assign",
      cms.new_page_task_path(@page),
      :id => "assign_button",
      :class => "btn#{ ' disabled' if @page.assigned_to == current_user || !current_user.able_to_edit?(@page) }",
      :target => "_top" %>
      
    <%= link_to "Complete Task",
      @page.current_task ? cms.complete_task_path(@page.current_task) : '#',
      :id => "complete_task_button",
      :class => "http_put btn#{ ' disabled' if @page.assigned_to != current_user || !current_user.able_to_edit?(@page) }", 
      :target => "_top" %>
  </div>

  <%= icon_link_to "Edit Properties",
    [:edit, @page], 'edit',
    :id => "edit_properties_button",
    :class => "btn#{ ' disabled' unless current_user.able_to_edit?(@page) }", 
    :target => "_top" %>
  
  <%= icon_link_to "List Versions",
    cms.versions_page_path(@page), 'list',
    :class => "btn#{ ' disabled' unless current_user.able_to_edit?(@page) }",
    :target => "_top" %>
    
  <%= able_to? :publish_content do %>
    <% if @page.draft_version? %>  
      <%= icon_link_to "Delete",
        [@page], 'trash',
        :id => "delete_button",
        :title => "Are you sure you want to delete '#{@page.name}'?", 
        :target => "_top", 
        :class => "btn confirm_with_title http_delete#{ ' disabled' unless current_user.able_to_publish?(@page) }" %>
    <% else %>
      <%= link_to "Revert to this Version",
        cms.revert_page_path(@page, @page.version),
        :id => "revert_button",
        :class => "btn http_put", 
        :target => "_top" %>
    <% end %>
  <% end %> 
  </div>
<% end %>