<% page_title "Content Library / View Usages" %>
<% @toolbar_title = "Pages Using #{content_type.display_name} '#{ @block.name }'".html_safe %>
<%= content_for :html_head do %>
  
  <%= javascript_tag do %>
    jQuery(function($) {
      $('#functions .button').addClass('disabled').attr('href','#');
      $('#view_button').removeClass('disabled')
        .attr('href', '<%= cms_connectable_path(@block)%>')
      $('#edit_button').removeClass('disabled')
        .attr('href', '<%= edit_cms_connectable_path(@block)%>')
    })
  <% end %>
<% end %>

<%= render :partial => 'cms/blocks/toolbar' %>
  <table id="blocks" class="data table table-condensed">
  <thead>
    <tr>
      <th>Page Name</th>
      <th>Path</th>
      <th>Page Status</th>
    </tr>
  </thead>
  <% @pages.each do |page| %>
    <% status = page.archived? ? :archived : page.status %>    
    <tr>
      <td><%=  page.name %></td>
      <td><%=  link_to page.path, page.path %></td>
      <td><%= status_icon(status) %></td>
    </tr>
  <% end %>
  </table>
